.wrapper {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    margin: 2rem 0;

    h1 {
        font-size: 1.2rem;
        font-weight: bold;
        @media screen and (min-width: 768px){
            font-size: 1.8rem;
        }
    }
}