<ion-header collapse="fade">
  <ion-toolbar>
    <ion-buttons >
      <ion-button routerLink="/paises">Países</ion-button>
      <ion-button routerLink="/api">API</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-item>
  <ion-textarea
    placeholder="Type something here"
    [autoGrow]="true"
    value="A API usada neste projeto é a Rest Countries API, é uma API pública que fornece informações 
    detalhadas sobre todos os países do mundo. Ela retorna dados no formato JSON pode ser 
    utilizada em aplicações que envolvem geografia, turismo, ou qualquer funcionalidade que 
    necessite de  informações sobre países. Fornece dados como: nome do país, população, região
    capital, entre outros."
  >
  </ion-textarea>
</ion-item>