.light-theme{
    --text-color: #171311;
    --input-color: #808080;
    --bg-color: #FFFFFF;
    --elements-color: #FFFFFF;
}

.dark-theme{
    --text-color: #FFFFFF;
    --input-color: #858585;
    --bg-color: #1D272E;
    --elements-color: #222E37;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: var(--text-color);
    background-color: var(--bg-color);
}

a,
a:active,
a:hover {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}